<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SampleWebApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="index.html">The Junk File</a>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav" style="margin-left:25%">
                                <li class="active"><a action="Home/Index">Home</a></li>
                                <li><a href="service.html">Service</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="help.html">Help</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-2 logoDiv">
                    <img src="~/images/logo.png" class="mainLogo">
                </div>
            </div>
        </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted container-fluid">
        <div class="row footerClass">
            <div style="text-align:center;width:100%">  
                <span>Copyrights &copy; @DateTime.Now.Year</span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
