<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] The Junk File</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="launchModal">Launch demo modal</button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">The Junk File</h4>
                    </div>
                    <div class="modal-body">
                        <h3>Please login to continue</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="javascript:void(0)">The Junk File</a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav" style="margin-left:25%">
                            <li><a href="/Home/Index">Home</a></li>
                            <li><a href="/Home/Service">Service</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="help.html">Help</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-2 logoDiv">
                <img src="~/images/logo.png" class="mainLogo rotate">
            </div>
        </div>
    </div>
    <div class="container" id="spinnerContainer">
        <div class="loader"></div>
    </div>
    <div class="container" style="position: relative;  ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted container-fluid" style="position: absolute;bottom:0  ">
        <div class="row footerClass">
            <div style="text-align:center;width:100%">
                <span>Copyrights &copy; @DateTime.Now.Year</span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
