/* .launching{
	text-align: center;
} */
.mainLogo {
    border-radius: 75px;
    height: 75px;
}

#login-alert, #login-success, #register-alert, #email-alert, #password-alert, #mobile-alert, #register-success-alert, #register-danger-alert, #login-danger-alert, #login-success-alert {
    display: none;
}
#removeFile{
    float:right;
    margin-bottom: 15px;
}
.flex-container {
    display: flex;
}

.errorClass {
    border: 1px solid #dc3545;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

/* .footerClass{
	position: fixed;
	bottom: 0;
} */

.logoDiv {
    text-align: center;
}

.navbar.navbar-default {
    margin-top: 13px;
}
/* .launching button{
  float: right;
} */

@media (min-width: 768px) {
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
#spinnerContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 99999;
    background: #555;
    opacity: 0.2;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 17%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#signupbox .form-group {
    padding-bottom: 30px;
}
#launchModal{
    display:none;
}

#listFiles{
    display:none;
}
.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
}